@import 'variables';
.exp-section {
	position: relative;
	width: 100%;
	height: 100%;
	background: url(/assets/images/bg01.jpg);
	background-size: cover;
	background-position: 40%;
	background-attachment: fixed;

	.section-title {
		color: $gray-lightest;
	}

	.bg-overlay {
		padding: $padding-large-vertical * 4 $padding-large-horizontal;
		background: rgba(17, 17, 17, 0.6);
		height: auto;
	}

	#exp-timeline {
		position: relative;
		padding: 2em 0;
		margin-top: 2em;
		margin-bottom: 2em;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 18px;
			height: 100%;
			width: 4px;
			background: $gray-lightest;

			@include media(lg) {
				left: 50%;
				margin-left: -2px;
			}
		}
		
		.exp-timeline-start, .exp-timeline-end {
			text-align: center;
			position: relative;

			.btn {
				margin: 0 auto;
				text-align: center;
				border: $margin-small-vertical solid $gray-lightest;
			}
		}

		.exp-timeline-start {
			top: -($margin-large-horizontal);
		}

		.exp-timeline-end {
			bottom: -($margin-large-horizontal);
		}

		.exp-timeline-block {
			position: relative;
			margin: 2em 0;

			@include media(lg) {
				margin: 4em 0;
			}

			&:nth-child(even)  {
				.exp-timeline-content {
					@include media(lg) {
						float: right;
					}

					&::before {
						@include media(lg) {
							top: 24px;
							left: auto !important;
							right: 100%;
							border-color: transparent;
							border-right-color: white;
						}
					}

					.exp-date {
						@include media(lg) {
							left: auto;
							right: 122%;
							text-align: right;
						}
					}
				}
			}

			&:after {
				content: "";
				display: table;
				clear: both;
			}

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}

			.exp-timeline-img {
				position: absolute;
				top: 0;
				left: 0;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: $brand-secondary;
				box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
				@include media(lg) {
					width: 60px;
					height: 60px;
					left: 50%;
					margin-left: -30px;
					-webkit-transform: translateZ(0);
					-webkit-backface-visibility: hidden;
				}
				&.is-hidden {
					@include media(lg) {
						visibility: hidden;
					}
				}
				.lnr, .fi {
					@include xy-align;
					color: $gray-lightest;
					font-size: 3em;
				}
			}

			.exp-timeline-content {
				position: relative;
				margin-left: 60px;
				background: white;
				border-radius: 0.25em;
				padding: 1em;
				box-shadow: 0 3px 0 #d7e4ed;

				@include media(lg) {
					margin-left: 0;
					padding: 1.6em;
					width: 45%;
				}

				&:after {
					content: "";
					display: table;
					clear: both;
				}

				&::before {
					content: '';
					position: absolute;
					top: 16px;
					right: 100%;
					height: 0;
					width: 0;
					border: 7px solid transparent;
					border-right: 7px solid white;

					@include media(lg) {
						top: 24px;
						left: 100%;
						border-color: transparent;
						border-left-color: white;
					}
				}

				h2 {
					color: darken($gray-darker, 40%);
					margin: 0 0 $margin-large-vertical;
					font-size: 1.375em;

					@include media(sm) {
						font-size: 1.625em;
					}

					@include media(lg) {
						font-size: 1.750em;
					}
				}

				p {
					margin: 1em 0;
					line-height: 1.6;
				}

				.exp-date {
					float: left;
					padding: .8em 0;
					opacity: .7;

					@include media(lg) {
						position: absolute;
						width: 100%;
						left: 122%;
						top: 6px;
						color: $gray-lightest;
						font-size: 1.150em;
					}
				}
			}
		}
	}
}