    /*
    Flaticon icon font: Flaticon
    Creation date: 25/04/2017 02:41
    */

    @font-face {
      font-family: "Flaticon";
      src: url("/assets/fonts/flaticon.eot");
      src: url("/assets/fonts/flaticon.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/flaticon.woff") format("woff"), url("/assets/fonts/flaticon.ttf") format("truetype"), url("/assets/fonts/flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("/assets/fonts/flaticon.svg#Flaticon") format("svg");
      }
    }

    .fi:before {
      display: inline-block;
      font-family: "Flaticon";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      line-height: 1;
      text-decoration: inherit;
      text-rendering: optimizeLegibility;
      text-transform: none;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-smoothing: antialiased;
    }

    .flaticon-github-logo:before {
      content: "\f100";
    }

    .flaticon-tooth:before {
      content: "\f101";
    }

    .flaticon-board-games-set:before {
      content: "\f102";
    }

    .flaticon-contract:before {
      content: "\f103";
    }

    .flaticon-coding:before {
      content: "\f104";
    }

    .flaticon-magic-wand:before {
      content: "\f105";
    }

    .flaticon-market:before {
      content: "\f106";
    }

    .flaticon-info:before {
      content: "\f107";
    }

    .flaticon-home:before {
      content: "\f108";
    }

    .flaticon-pizza:before {
      content: "\f109";
    }

    .flaticon-skype:before {
      content: "\f10a";
    }

    .flaticon-linkedin:before {
      content: "\f10b";
    }

    .flaticon-coins:before {
      content: "\f10c";
    }

    .flaticon-technology-1:before {
      content: "\f10d";
    }

    .flaticon-technology:before {
      content: "\f10e";
    }

    .flaticon-location:before {
      content: "\f10f";
    }

    .flaticon-global:before {
      content: "\f110";
    }

    .flaticon-message:before {
      content: "\f111";
    }

    .flaticon-smartphone:before {
      content: "\f112";
    }

    .flaticon-settings:before {
      content: "\f113";
    }

    .flaticon-map-location:before {
      content: "\f114";
    }

    .flaticon-database:before {
      content: "\f115";
    }

    $font-Flaticon-github-logo: "\f100";
    $font-Flaticon-tooth: "\f101";
    $font-Flaticon-board-games-set: "\f102";
    $font-Flaticon-contract: "\f103";
    $font-Flaticon-coding: "\f104";
    $font-Flaticon-magic-wand: "\f105";
    $font-Flaticon-market: "\f106";
    $font-Flaticon-info: "\f107";
    $font-Flaticon-home: "\f108";
    $font-Flaticon-pizza: "\f109";
    $font-Flaticon-skype: "\f10a";
    $font-Flaticon-linkedin: "\f10b";
    $font-Flaticon-coins: "\f10c";
    $font-Flaticon-technology-1: "\f10d";
    $font-Flaticon-technology: "\f10e";
    $font-Flaticon-location: "\f10f";
    $font-Flaticon-global: "\f110";
    $font-Flaticon-message: "\f111";
    $font-Flaticon-smartphone: "\f112";
    $font-Flaticon-settings: "\f113";
    $font-Flaticon-map-location: "\f114";
    $font-Flaticon-database: "\f115";