@import 'variables';

$card-height: 250px;

.watdo-section {
	padding: $padding-large-vertical * 4 0;

	.watdo-section--card {
		padding: $padding-large-vertical * 2 $padding-large-horizontal;
		background-color: $gray-lightest;
		border: 1px solid darken($gray-lightest, 1%);
		margin-bottom: $margin-large-vertical;
		height: $card-height;

		.watdo-section--card-icon {
			text-align: center;
		}

		.lnr, .fi, h4 {
			color: darken($text-color, 20%);
		}

		.lnr, .fi {
			font-size: 4em;
		}

		h4 {
			text-transform: uppercase;
			font-size: 1.25em;
			text-align: center;
		}

		p {
			color: $gray-dark;
			text-align: center;
		}
	}
}